<div class="card mt-5 mx-3">
    <div class="cardbody p-5">
        <h1>Ejercicio 6</h1>
        <hr>
        <div id="bar-chart" class="p-5">
            <p>Documentación de la API utilizada: <a href="https://www.frankfurter.app/docs/">API cambio de divisas</a></p>
            <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>

        <div id="line-chart" class="p-5">
            <p-chart type="line" [data]="data" [options]="options"></p-chart>
        </div>
    </div>
</div>