<div class="card mt-5 mx-3">
    <div class="card-body p-5">
        <div class="row">
            <div class="col-12">
                <h1>Ejercicio 3</h1>
                <hr>
            </div>
        </div>

        <div class="row d-flex justify-content-around align-items-center">

            <div class="col-3 d-flex justify-content-center flex-column align-items-center p-3" id="registerForm">
                <register-form></register-form>
            </div>

            <div class="col-8 p-3">
                <register-table></register-table>
            </div>
        </div>

    </div>
</div>