.card {
    background-color: rgb(137, 181, 225);
}

#counter {
    background-color: rgba(14, 14, 14, 0.345);
    border-radius: 10px;
    width: 400px;
}

h1 {
    color: rgb(57, 57, 57);
}

.time {
    background-color: white;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}